<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Election Results</title>
  <meta name="description" content="Election results 'n that"/>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  <script src="js/angular-chart.min.js"></script>
  <script src="js/election-controller.js"></script>
</head>
<body>

<div class="container">

  <!-- HEADER -->

  <header class="row">
      <h1>Election results search</h1>
    <div class="clearfix"></div>
  </header>


  <!-- SELECT ELECTION -->
    
  <section class="row" id="select" ng-controller="ElectionsController">
    <form name="electionForm">
        <label for="selectElection"> Select election year: </label>
        <select ng-options="election.year for election in elections" ng-model="selectedElection"></select>
    </form>
    
  <hr />
      
    <h2>{{selectedElection.name}}</h2>
    <p><strong>Year: </strong>{{selectedElection.year}}</p>
    <p><strong>Turnout: </strong>{{selectedElection.turnout}}</p>
      
        <!-- SELECT WARD -->
      
        <form name="wardForm">
            <label for="selectWard"> Select ward: </label>
            <select ng-options="ward.name for ward in selectedElection.wards" ng-model="selectedWard"></select>
        </form>

        <hr />
      
        <!-- WARD DETAILS -->
      
        <div>
            <h3>{{selectedWard.name}}</h3>
            <p><strong>Electorate: </strong>{{selectedWard.electorate}}
            <p><strong>Seats: </strong>{{selectedWard.seats}}
            <p><strong>Turnout: </strong>{{selectedWard.turnout}}</p>
            <p><strong>Spoilt papers: </strong>{{selectedWard.spoilt}}
        </div>
        
        <div class="col-md-8">
            
            <table class="table">
              <thead>
                <tr>
                    <th>Candidate</th>
                    <th>Party</th>
                    <th>Votes</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="result in selectedWard.results">
                    <td>{{result.candidate}}</td>
                    <td>{{result.party}}</td>
                    <td>{{result.votes}}</td>
                </tr>
              </tbody>
            </table>
            
        </div>
        <div class="col-md-4">    
            <canvas id="pie" class="chart chart-pie"
              chart-data="votes" chart-labels="labels" chart-options="options" chart-colors="colours">
            </canvas>
        </div>
      
  </section>
  
  <!-- SECTION MONGO -->
  <section class="row">
    <h2>Request information</h2>
    <p>Page view count:
    <% if (pageCountMessage) { %>
       <span class="code" id="count-value"><%=pageCountMessage%></span>
       </p>
        <div class="code"><h3>DB Connection Info:</h3>
          <table style='margin-left: 20px'>
              <tr><td>Type:</td><td><%= dbInfo.type %></td></tr>
              <tr><td>URL:</td><td><%= dbInfo.url %></td></tr>
          </table>
        </div>
    <% } else { %>
       <span class="code" id="count-value">No database configured</span>
       </p>
    <%} %>
  </section>

  <footer>
    <p>Richie is the best</p>
  </footer>

</div>

</body>
</html>
